<filter-textbox (changed)="filter($event)"></filter-textbox>

<div class="dropdown">
  <button class="dropbtn">Sort</button>
  <div class="dropdown-content">
    <a (click)="sort('age')" href="#">Age</a>
    <a (click)="sort('name')" href="#">Alphabetical</a>
  </div>
</div>

<br />
<br />
<table class="table table-hover">
  <thead>
    <tr></tr>
  </thead>
  <tr *ngFor="let phone of filteredPhones">
    <td>
      <img class="kuva" src="/assets/{{ phone.imageUrl }}" />
    </td>
    <td>
      <a [routerLink]="['/phones', phone.id]">
        {{ phone.name | capitalize }}
      </a>
    </td>
    <td>{{ phone.snippet }}</td>
  </tr>
  <tr *ngIf="!filteredPhones || !filteredPhones.length">
    <td colspan="4">No phones found</td>
  </tr>
</table>
