<h1>Phone Search Below</h1>
<input
  class="form-control"
  type="text"
  placeholder="search"
  [(ngModel)]="searchText"
/>

<table class="table table-hover">
  <thead>
    <tr></tr>
  </thead>
  <tr *ngFor="let product of productList | search : searchText">
    <td>
      <img class="kuva" src="/assets/{{ product.imageUrl }}" />
    </td>
    <td>
      <a routerLink="{{ '/phones/' + product.id }}">
        {{ product.name | capitalize }}</a
      >
    </td>
    <td>{{ product.snippet }}</td>
  </tr>
  <tr *ngIf="!productList || !productList.length">
    <td colspan="4">No phones found</td>
  </tr>
</table>
