<div class="col-xl-9">
  <article>
    <div *ngIf="chosenPhone">
      <p>{{ chosenPhone.name }}</p>
      <hr />
      <p>{{ chosenPhone.description }}</p>
      <hr />
      <section
        class="show-images col-4"
        *ngFor="let image of chosenPhone.images"
      >
        <figure class="phone-item-info-small-image">
          <img
            src="{{ 'assets/' + image }}"
            alt="{{ phoneId }}"
            class="pointer img-fluid"
          />
        </figure>
      </section>
    </div>
  </article>
</div>

<div *ngIf="!chosenPhone">No Phone</div>
<br />

<a routerLink="/phones-list">All Phones</a>
