<div class="col-xl-9">
  <article>
    <div *ngIf="chosenPhone">
      <p>{{ chosenPhone.name }}</p>
      <hr />
      <p>{{ chosenPhone.description }}</p>
      <hr />
      <section
        class="show-images col-4"
        *ngFor="let image of chosenPhone.images"
      >
        <figure class="phone-item-info-small-image">
          <img
            src="{{ 'assets/' + image }}"
            alt="{{ phoneId }}"
            class="pointer img-fluid"
          />
        </figure>
      </section>
      <section class="details">
        <p>Availibility and networks: {{ chosenPhone.availability }}</p>
        <p>CPU: {{ chosenPhone.hardware.cpu }}</p>
        <p>RAM: {{ chosenPhone.storage.ram }}</p>
        <p>Storage: {{ chosenPhone.storage.flash }}</p>
        <p>Battery: {{ chosenPhone.battery.type }}</p>
        <p>Camera: {{ chosenPhone.camera.primary }}</p>
        <p>Connectivity: {{ chosenPhone.connectivity.wifi }}</p>
      </section>
    </div>
  </article>
</div>

<div *ngIf="!chosenPhone">No Phone</div>
<br />

<a routerLink="/phones-list">All Phones</a>
